body {
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.github-link:hover {
    color: rgb(255, 165, 10) !important;
    font-weight: bold;
}


input:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    border-color: #e9ecef;
}

/* Cambiar color de fondo y texto para cada botón */
.btn-plan-basico {
    background-color: #555151; /* Azul */
    color: white;
    text-align: start;
}

#headingOne {
    background-color: #555151;
    color: white;
}

.btn-plan-premium {
    background-color: #efb337; /* Verde */
    color: #1e1e1e;
    text-align: start;
}

#headingTwo {
    background-color: #efb337; /* Verde */
    color: #1e1e1e;
}

.btn-plan-gold {
    background-color: #1c1c1c; /* Rojo */
    color: #fff400;
    text-align: start;
}

#headingThree {
    background-color: #1c1c1c; /* Rojo */
    color: #fff400;
}

/* Efecto al pasar el ratón por encima */
.btn-plan-basico:hover {
    background-color: #343435;
    color: white;
}

.btn-plan-premium:hover {
    background-color: #c58522;
    color: #1e1e1e;
}

.btn-plan-gold:hover {
    background-color: #494343;
    color: #fff400;
}

.boton-imagen {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 0
}

.boton-imagen img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.texto {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
}

.boton-imagen:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card-body {
    margin-left: 60px;
    padding: 15px;
}

/* Asegura que las cards tengan suficiente espacio */
.card {
    margin-bottom: 10px; /* Espaciado entre cards */
}

body {
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header fijo en la parte superior */
header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer fijo en la parte inferior */
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

/* Contenedor del accordion, con scroll solo dentro de este */
.accordion-container {
    flex: 1; /* Hace que el accordion ocupe el espacio disponible entre el header y el footer */
    overflow-y: auto; /* Habilita el scroll solo para el accordion */
}

/* Overlay en administrador */
#backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* Ensure it is behind the modal */
}

.form_basico {
    display: inline-block;
}

#basic_panel {
    background-color: #555151; /* Azul */
    color: white;
}

#premium_panel {
    background-color: #efb337; /* Verde */
    color: #1e1e1e;
}

#gold_panel {
    background-color: #1c1c1c; /* Rojo */
    color: #fff400;
}

#carouselExampleIndicators {
    flex-grow: 1; /* El carrusel ocupa el espacio restante */
    height: 100%; /* Asegura que el carrusel ocupe toda la altura disponible */
}

/* Contenedor principal que ocupa toda la altura disponible */
.carousel-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column; /* Centra los elementos en columna */
    height: 60%;
}

/* Carrusel */
.carousel {
    display: flex;
    overflow: hidden; /* Oculta los elementos fuera del área visible */
    width: 80%;
    height: 50%; /* Ajusta el ancho del carrusel */
    max-width: 800px; /* Tamaño máximo */
    position: relative;
}

/* Elementos dentro del carrusel */
.carousel-item {
    flex: 0 0 100%; /* Solo un elemento ocupa el carrusel a la vez */
    display: flex;
    overflow: hidden;
    justify-content: center; /* Centra los elementos (videos o imágenes) dentro del carrusel */
    align-items: center; /* Centra verticalmente los elementos dentro del carrusel */
    height: 100%;
    display: none; /* Ocultamos todos los elementos por defecto */
}

/* Estilo común para video e imagen */
.carousel-item video, .carousel-item img {
    width: 100%; /* Hace que el video o imagen ocupe el 100% del contenedor */
    height: 100%; /* Fuerza que el video o imagen ocupe el 100% de la altura del contenedor */
    object-fit: contain;
    object-position: center center;
}

/* Solo el elemento activo será visible */
.carousel-item.active {
    display: block; /* Hacemos visible solo el elemento activo */
}

/* Asegúrate de que el carrusel tenga suficiente espacio para los controles */
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Estilo común para video e imagen */
.carousel-item img, .carousel-item video {
    width: 100%; /* Asegura que el video o la imagen ocupe todo el contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen o video cubra el contenedor */
}

/* Estilo de los controles (anterior y siguiente) */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar para que estén exactamente en el centro */
    color: white; /* Color de las flechas */
    border: none;
    padding: 10px;
    font-size: 2rem; /* Ajuste del tamaño de las flechas */
    cursor: pointer;
    z-index: 10; /* Aseguramos que los botones estén por encima del contenido */
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn-volver {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

#user-menu{
    position: fixed;  /* Fija el elemento en la pantalla */
    top: 0;           /* Lo posiciona en la parte superior */
    right: 0;         /* Lo posiciona en la parte derecha */
}

#user-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 500;
    background: whitesmoke;
}

#user-menu a, button {
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    color: #000000;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#user-menu a:hover {
    background-color: #bababa;
}

/* Ajuste para asegurar que el color rojo se aplique a los enlaces de la clase 'logout' */
#user-menu .logout {
    color: #dc3545 !important; /* Uso de !important para asegurarse de que el color se aplique */
}

#perfilFoto {
    width: 50px;      /* Tamaño de la imagen */
    height: 50px;     /* Tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover;  /* Ajusta la imagen dentro del círculo sin distorsionarla */
}

#fotoEditable {
    width: 350px;      /* Tamaño de la imagen */
    height: 350px;     /* Tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover;  /* Ajusta la imagen dentro del círculo sin distorsionarla */
}

#nombre, #apellidos {
    width: 200px;
}

#habilitarCampos {
    margin-right: 50px;
    margin-left: 15px;
}

#confirmarEdit {
    display: none;
}

/*Login y Footer*/
.gradient-custom-2 {
    background-color: rgb(227, 176, 75);
    color: white;
}

.gradient-custom-2:hover {
    background-color: rgb(255, 165, 10);
    transform: scale(1.1);
    font-weight: bold;
    color: white;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (max-width: 992px) {
    footer {
        background-color: black !important;
        position: inherit !important;
    }
}


/*@media(max-height: 768px) {*/
/*    footer {*/
/*        background-color: black !important;*/
/*        position: relative !important;*/
/*    }*/
/*}*/

#user-menu button {
    border-style: none;
    background: none;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    color: #000000;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#user-menu button:hover {
    background-color: #bababa;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: whitesmoke;
    border-radius: 5px;
    z-index: 500;
}

.submenu {
    position: absolute;
    left: -130px;  /* Posición a la izquierda del menú principal */
    top: 0;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Opcional: Estilo adicional para los enlaces del submenú */
.submenu button {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
}

.submenu button:hover {
    background-color: #ddd;
}

#user-menu:hover #dropdown-menu {
    display: block;
}

/*FIN*/
/*CSS DASHBOARD USUARIO*/
.main-container{
    margin-top:40px;
}
.widget-author {
    margin-bottom: 58px;
}
.author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
}
.author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
}
.author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
}
.author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
}
.author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #e4b232;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
.hidden {
    display: none;
}