<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer</title>
</head>
<body>
<footer class="footer mt-auto py-3 bg-light footer d-flex align-items-center " th:fragment="footer">
    <div class="container d-flex justify-content-lg-between align-items-center flex-lg-row flex-column">
        <span class="text-muted mb-sm-5 mb-lg-0">© 2023 TeiSport. Todos los derechos reservados.</span>
        <div class="d-flex">
            <a href="https://github.com/Jorgedehaz" target="_blank"
               class="github-link d-flex flex-column justify-content-center align-items-center text-decoration-none text-black-50">
                <img src="/images/github.jpg" alt="GitHub Logo" width="50" height="" class="github-logo">
                <span>Jorge</span>
            </a>
            <a href="https://github.com/mdss00" target="_blank"
               class="px-4 github-link d-flex flex-column justify-content-center align-items-center text-decoration-none text-black-50">
                <img src="/images/github.jpg" alt="GitHub Logo" width="50" height="" class="github-logo">
                <span>Miguel</span>
            </a>
            <a href="https://github.com/TheLexa69" target="_blank"
               class="github-link d-flex flex-column justify-content-center align-items-center text-decoration-none text-black-50">
                <img src="/images/github.jpg" alt="GitHub Logo" width="50" height="" class="github-logo">
                <span>Guillermo</span>
            </a>
        </div>
    </div>
</footer>
</body>
</html>